<section>
  <table class="min-w-max w-full table-auto">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Student No.</th>
        <th class="py-3 px-6 text-left">Student</th>
        <th class="py-3 px-6 text-center">Course</th>
        <th class="py-3 px-6 text-center">Task</th>
        <th class="py-3 px-6 text-center">Action</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <tr class="border-b border-gray-200 hover:bg-gray-100" *ngFor="let review of backlog">
        <!-- Student Number -->
        <td class="py-3 px-6 text-left whitespace-nowrap">
          <div class="flex items-center">
            <span class="font-medium"> {{review.student_number}} </span>
          </div>
        </td>

        <!-- Student Name -->
        <td class="py-3 px-6 text-left">
          <div class="flex items-center">
            <p>
              {{review.student_name}}
            </p>
          </div>
        </td>

        <td class="py-3 px-6 text-center">
          <p>
            {{review.course}}
          </p>
        </td>

        <!-- Task -->
        <td class="py-3 px-6 text-center">
          <p>
            {{review.task}}
          </p>
        </td>

        <!-- Actions -->
        <td class="py-3 px-6 text-center" *ngIf="review.accepted; else accept">
          <div class="flex item-center justify-center">

            <!-- Download -->
            <div class="w-4 mr-2 transform hover:text-green-300 hover:scale-110">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
              </svg>
            </div>

            <!-- Set review -->
            <div class="w-4 mr-2 transform hover:text-green-300 hover:scale-110">
              <label for="my-modal" class="cursor-pointer" (click)="setReviewModal(review.review_id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                  <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
              </label>
            </div>
          </div>
        </td>

        <ng-template #accept>
          <td class="py-3 px-6 text-center">
            <a (click)="acceptReview(review.review_id)" class="text-blue-400 hover:text-green-300 cursor-pointer" for="my-modal">Start Time</a>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</section>


<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="flex flex-row justify-between">
      <h3 class="font-bold text-lg mb-5">Review</h3>
      <label for="my-modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </label>
    </div>
    <span class="text-lg flex flex-row gap-2">
      <p class="font-medium">Student Name: </p>
      <p> {{modalReview.student_name}} </p>
    </span>
    <span class="text-lg flex flex-row gap-2">
      <p class="font-medium">Student Number: </p>
      <p>{{modalReview.student_number}}</p>
    </span>
    <span class="text-lg flex flex-row gap-2">
      <p class="font-medium">Task: </p>
      <p>{{modalReview.task}}</p>
    </span>
    <span class="text-lg flex flex-row gap-2 mb-5">
      <p class="font-medium">Course: </p>
      <p>{{modalReview.course}}</p>
    </span>

    <div class="flex flex-row gap-2">
      <form action="" (submit)="submitReview(reviewForm)" #reviewForm="ngForm">
        <input ngModel required name="reviewScore" #reviewScore="ngModel" type="number" min="0" max="100" placeholder="Score" class="input input-bordered w-full max-w-xs" />
        <button class="btn btn-active" type="submit" for="my-modal">Submit</button>
      </form>
    </div>
  </div>
</div>
